body {
    font-family: 'Inter', sans-serif;
    /* background-color: #1A535C; */
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    color: #2e3131;
    text-decoration: none;
}

nav {
    background-color: #F7FFF7;
    font-weight: bold;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10% 14%;
    background-color: #1A535C;
    gap: 100px;
}

.skills {
    background-color: #1A535C;
    padding: 150px 0;
    background-image: url("images/background.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    color: white;
    width: 95%;
    padding: 5px;
}

.skill-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: wrap; 
    width: 70%;
    margin: 75px 0;
}

.skill-list div {
    padding: 40px;
}

.skill-list p {
    font-weight: bolder;
    color: #312F2F;
}

.skills .section-title, .contact-me .section-title {
    color: #2E2D2D;
}

.projects .section-title {
    color: white;
}

.projects {
    text-align: center;
    background-color: #1A535C;
}

.project-container {
    display: flex;
    justify-content: space-around;
    margin: 70px auto;
    padding: 0 15%;
    flex-flow: wrap;
}

.project-container h3, .project-container p {
    color: white;
}

.project-container p {
    font-size: 17px;
    padding-bottom: 32px;
}

.project-container h3 {
    font-size: 2em;
}

.project {
    width: 460px;
    margin: 30px;
    padding-bottom: 100px;
}

.project-image {
    border-radius: 5px;
    border: 5px solid #ffffff;
}

.project-button {
    background-color: #FFE66D;
    border: none;
    border-radius: 5px;
    padding: 14px 30px;
    margin: 12px;
    font-family: inherit;
    font-weight: bolder;
    font-size: 17px;
    color: #312F2F;
    display: inline;
}

.project-button:hover {
    cursor: pointer;
}

.contact-me {
    background-color: #F7FFF7;
    padding: 100px 0 100px 30%;
}

.contact-me div {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 40px;
}

.contact-me p {
    padding: 0 15px;
    font-weight: 600;
    font-size: 27px;
}

.section-title {
    font-size: 4em;
}

h1 {
    font-size: 5em;
}

p {
    font-size: 23px;
}

h2 {
    font-size: 28px;
}

.image p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    gap: 10px;
}

.skill-icon {
    width: 100px;
}

.main-img {
    border-radius: 10px;
    width: 500px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0 10%;
}

h1 {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1400px) {
    .skills {
        background-image: url("images/background-mobile.svg");
        background-repeat: repeat-x;
    }

    header {
        flex-direction: column-reverse;
        padding: 100px 20px;
        gap: 0;
    }

    .main-img {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    nav {
        font-size: 13px;
    }

    .contact-me {
        text-align: center;
        padding: 0;
        margin: 0 auto;
    }

    .contact-me p {
        font-size: 20px;
    }

    h1 {
        font-size: 2.5em;
    }
    
    p {
        font-size: 17px;
    }
    
    h2 {
        font-size: 23px;
    }

    .section-title {
        font-size: 23px;
    }

    .skills {
        padding: 10% 0;
    }

    .skill-list {
        margin: 0;
    }

    .skill-list div {
        padding: 20px;
    }

    .skills img {
        width: 50px;
        height: 50px;
    }

    .project-image {
        width: 80%;
    }

    .projects {
        padding: 90px 0;
    }
    
    
    .project-container {
        padding: 0%;
    }

    .project-container p {
        font-size: 12px;
    }
    
    .project-container h3 {
        font-size: 1.5em;
    }

    /* .project-button {
        width: 100px;
        height: 40px;
        font-size: 12px;
        margin: 10px 0 0 0;
    } */

    .contact-me img {
        width: 20px;
        height: 20px;
    }

    .contact-me div {
        gap: 5px;
    }
}